@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Arapey);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
body { 
  font-family: 'Libre Baskerville', serif; 
  font-family:'Open Sans', sans;
  font-size:16px;
  line-height:1.5em;
  color:#000;
  margin:0;
  background:#efefef;
  background:#eee;
}
img {
  max-width:100%;
}
@media (max-width:700px) {
  body { font-size:14px; }
}
a, a .icon { 
  color:#136fd2; 
  color:#0a3666;
  fill:#0a3666;
  text-decoration:none;
}
a:hover,a:hover .icon {
  color:#C02942;
  color:#136fd2;
  fill:#136fd2;
}
a:hover {
  color:#136fd2;
}
a:active {
  color:#bf7883;
}

.top-menu {
  margin: 0;
  padding: 0;
  float: none;
  text-align: center;
  text-transform:uppercase;
  font-size:1em; 
  line-height:1.2rem;
  letter-spacing:.25em;
  font-family:'Open Sans Condensed',sans-serif;
  font-weight:700;
  background:#222;
}
.top-menu li a { 
  text-decoration:none; 
  color:#eee; 
}
.top-menu a:hover {
  color:#7ba4d1;
  text-shadow:0 1px 0 #000;
}
.top-menu a:active,
.top-menu .current a {
  color:#bf7883;
}

.top-menu li {
  display: inline;
  list-style-type: none;
  border-right:solid 1px #ccc;
  padding-right: 1em;
  padding-left:.8em
}
.top-menu li:last-child {
  border-right:none;
  padding-right:0;
}

#content {
  /*text-align: center;*/
  max-width: 600px;
  margin: 0em auto;
  display: block;
  background: #fff;
  background:#fcfcfc; color:#000;
  padding: 2em;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

h1 {
  text-align:center;
  font-size:2em;
  line-height: 1.2em;
  font-size: 2.5em;
  letter-spacing: 0.075em;
  font-family:'Arapey', serif;
  font-weight:normal;
  margin-top:0;
  position:relative;/*
  border: solid 1px;
  border-width: 1px 0;
  padding: .5em 0;*/
}

h2 {
  font-size:1.2em;
  line-height:1.2em;
  font-family:'Open Sans',sans-serif;   
}
h1, h2, h3, h4, h5, h6 {

}
hr {
  margin: 2em 0;
  width: 100%;
}


@media (max-width:800px) { }

.button {
    cursor:pointer;
    margin: 0 .5em;
    line-height: 1.5em;
    letter-spacing: .025em; 
    font-family: 'Open Sans Condensed',sans-serif;
    /*color: #0a3666;*/
    font-weight: 700;
    padding: .25em .5em;
}
.button:not([disabled]):hover, .button:not([disabled]):focus {
    color: #333; 
    background-color: #e3e3e3;
    background-image: -moz-linear-gradient(top, #f2f2f2, #ccc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ccc));
    background-image: -webkit-linear-gradient(top, #f2f2f2, #ccc);
    background-image: -o-linear-gradient(top, #f2f2f2, #ccc);
    background-image: linear-gradient(to bottom, #f2f2f2, #ccc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffcccccc', GradientType=0);
    zoom: 1;
}
.button:not([disabled]):hover .icon {
  fill:#C02942;
}
.button {
    border: 1px solid #b1b1b1;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25) rgba(0,0,0,0.25);
    position: relative;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #f0f0f0;
    background-image: -moz-linear-gradient(top, #fff, #d9d9d9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#d9d9d9));
    background-image: -webkit-linear-gradient(top, #fff, #d9d9d9);
    background-image: -o-linear-gradient(top, #fff, #d9d9d9);
    background-image: linear-gradient(to bottom, #fff, #d9d9d9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffd9d9d9', GradientType=0);
    zoom: 1;
}
#iframe-stmblpn-widget-1 { 
  float:right;
} 
header {
  text-align:center;
}
@media (min-width:800px) {
  .two-columns {
    margin-left: 1.2em;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
  }
}

a:hover img  {
  -webkit-filter: contrast(1.075);
  -moz-filter: contrast(1.075);
  filter: contrast(1.075);
  opacity:.915;
}

#stumble {
  padding-top: 6px;
  display: block;
  float: right;
}
