/* html {
  scroll-behavior: smooth;
} */

@media print {
  .noprint {
    display: none !important;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5,
p, figure, picture {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

img, picture {
  max-width: 100%;
  display: block;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* .icon svg {
 max-height: 2rem !important;
} */

